* {
  font-family: "Nuosu SIL", serif;
  box-sizing: border-box;
}
html {
  background-color: lightgray;
}
body {
  max-width: 1800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% 70% 20%;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header header header"
    "navigation content sidebar"
    "footer footer footer";
}
header,
nav,
main,
aside,
footer {
  min-height: 100px;
  border: 2px solid black;
  display: flex;
  -ms-flex-item-align: stretch;
}
header {
  grid-area: header;
}
nav {
  grid-area: navigation;
}
nav li {
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
}
main {
  grid-area: content;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}

a.search {
  display: flex;
  flex-direction: row;
  height: 10px;
}
#backpoint {
  text-decoration: none;
  font-size: 25px;
  color: #b7efc5;
}
#backpoint:hover {
  color: #92e6a7;
  text-shadow: 0px 0px 10px;
}

@media screen and (max-width: 900px) {
  body {
    grid-template-columns: 80% 20%;
    grid-template-rows: 100px 150px 1fr 100px;
    grid-template-areas:
      "header header"
      "navigation navigation"
      "content sidebar"
      "footer footer";
  }
  nav {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 100px 150px 1fr 0.5fr 100px;
    grid-template-areas:
      "header"
      "navigation"
      "content"
      "sidebar"
      "footer";
  }
  nav {
    display: flex;
    flex-direction: row;
  }
}
