* {
  font-family: "Nuosu SIL", serif;
  box-sizing: border-box;
}
html {
  background-color: black;
}
body {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header header header"
    "navigation content sidebar"
    "footer footer footer";
}
header,
nav,
main,
aside,
footer {
  min-height: 100px;
}

header {
  grid-area: header;
}
nav {
  background-color: #6ede8a;
  grid-area: navigation;
  list-style-type: none;
}
main {
  grid-area: content;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}

#backpoint {
  text-decoration: none;
  font-size: 25px;
  color: #b7efc5;
}
#backpoint:hover {
  color: #92e6a7;
  text-shadow: 0px 0px 10px;
}

@media screen and (max-widht: 1200) {
  body {
    grid-template-columns: 80% 20%;
    grid-template-rows: 100px 150px 1fr 100px;
    grid-template-areas:
      "header header"
      "navigation navigation"
      "content sidebar"
      "footer footer";
  }
}
