@import url("https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Poppins&display=swap");

* {
  font-family: "Nuosu SIL", serif;
  box-sizing: border-box;
}
html {
  background-color: black;
}
body {
  max-width: 1800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% 70% 20%;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header header header"
    "navigation content sidebar"
    "footer footer footer";
}
h1 {
  color: #92e6a7;
  margin-left: 20px;
}
h2#kontakt {
  color: #92e6a7;
  margin-left: 5px;
}
header,
nav,
main,
aside,
footer {
  min-height: 100px;
}
header {
  grid-area: header;
  display: flex;
  flex-direction: row;
}
nav {
  grid-area: navigation;
}
nav li {
  font-size: 25px;
  list-style-type: none;
  padding-bottom: 10px;
}
main {
  grid-area: content;
  color: #ae6bff;
}
div.maincontent {
  font-size: 22px;
  margin-left: 20px;
}
aside {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}
footer {
  grid-area: footer;
  padding-left: 45px;
  color: #ae6bff;
}
input.contactlinks {
  margin: 10px auto;
  width: 120px;
  height: 120px;
}
input#form {
  border-radius: 50%;
}

#backpoint,
.hqlinks {
  color: #92e6a7;
  text-decoration: none;
}

a.search {
  display: flex;
  flex-direction: row;
  height: 10px;
}
a#backpoint {
  font-size: 50px;
  color: #92e6a7;
  margin-left: 39px;
  padding-top: 10px;
}
#backpoint:hover {
  text-shadow: 0px 0px 10px;
}
button {
  border-radius: 25%;
  width: 150px;
  height: 150px;
  padding: 0px 0px 20px 0px;
  margin: 10px auto;
  cursor: pointer;
}
#formmain {
  margin: 0 auto;
}
.formbox {
  font-size: 30px;
}
#vorname,
#nachname,
#email {
  height: 50px;
  width: 450px;
  font-size: 20px;
  background-color: black;
  color: #ae6bff;
}
#nachricht {
  height: 220px;
  width: 450px;
  font-size: 20px;
  background-color: black;
  color: #ae6bff;
}
#send,
#delete {
  height: 50px;
  width: 110px;
  font-size: 25px;
  color: #ae6bff;
  background-color: black;
}

#profilepicture {
  float: right;
  height: 225px;
  width: 200px;
  margin-right: 20px;
  border: 1px solid #ae6bff;
}
#datenschutzlink {
  color: #ae6bff;
  text-decoration: none;
}
#datenschutz {
  color: #ae6bff;
  padding-left: 20px;
}
#ictwlogo {
  height: 100px;
  width: 210px;
  float: right;
}
#billiard {
  padding-left: 20px;
}
.schuellinks {
  text-decoration: none;
  color: #ae6bff;
}
#schuelist {
  margin: auto;
}

.container {
  margin: 0px 0px 0 350px;
}
.vl {
  width: 3px;
  height: 50px;
  background-color: #ae6bff;
  left: 50%;
  margin: 15px 0 15px 200px;
}
@media screen and (max-width: 1420px) {
  body {
    grid-template-columns: 80% 20%;
    grid-template-rows: 100px 150px 0.9fr 50px;
    grid-template-areas:
      "header header"
      "navigation navigation"
      "content sidebar"
      "footer footer";
  }
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  nav li {
    padding-right: 20px;
  }
  #profilepicture {
    height: 250px;
    width: 200px;
  }
  .contactlinks {
    width: 90px;
    height: 90px;
  }
}
#billiardcenter {
  width: 300px;
  height: 225px;

  float: right;
}
@media screen and (max-width: 770px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 100px 150px 1fr 0.7fr 100px;
    grid-template-areas:
      "header"
      "navigation"
      "content"
      "sidebar"
      "footer";
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  button {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  aside {
    flex-direction: row;
    display: block;
  }
  #profilepicture {
    height: 200px;
    width: 180px;
  }

  input.contactlinks {
    width: 85px;
    height: 85px;
  }
  .hqlinks {
    justify-content: start;
  }

  ul {
    padding-left: 0px;
  }

  #billiardcenter {
    width: 150px;
    height: 115px;
  }
}

@media screen and (max-width: 500px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 100px 75px 1fr 0.6fr 100px;
    grid-template-areas:
      "header"
      "navigation"
      "content"
      "sidebar"
      "footer";
  }
  nav li {
    font-size: 20px;
  }
}
