* {
  font-family: "Nuosu SIL", serif;
  box-sizing: border-box;
}
html {
  background-color: black;
}
body {
  max-width: 1800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% 70% 20%;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header header header"
    "navigation content sidebar"
    "footer footer footer";
}
h1 {
  color: #25a244;
  margin-left: 20px;
}
h2 {
  color: #b7efc5;
}
h2#kontakt {
  margin-left: 5px;
}
header,
nav,
main,
aside,
footer {
  min-height: 100px;
  border: 2px solid black;
}
header {
  grid-area: header;
}
nav {
  grid-area: navigation;
}
nav li {
  font-size: 20px;
  list-style-type: none;
}
main {
  grid-area: content;
}
aside {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}
footer {
  grid-area: footer;
}
input {
  margin: 10px auto;
  width: 150px;
  height: 150px;
}

a {
  color: #92e6a7;
  text-decoration: none;
}
a.search {
  display: flex;
  flex-direction: row;
  height: 10px;
}
#backpoint {
  font-size: 50px;
  color: #b7efc5;
}
#backpoint:hover {
  text-shadow: 0px 0px 10px;
}
button {
  border-radius: 25%;
  width: 150px;
  height: 150px;
  padding: 0px 0px 20px 0px;
  margin: 10px auto;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  body {
    grid-template-columns: 80% 20%;
    grid-template-rows: 100px 150px 1fr 100px;
    grid-template-areas:
      "header header"
      "navigation navigation"
      "content sidebar"
      "footer footer";
  }
  nav {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 100px 150px 1fr 0.5fr 100px;
    grid-template-areas:
      "header"
      "navigation"
      "content"
      "sidebar"
      "footer";
  }
  nav {
    display: flex;
    flex-direction: row;
  }
  button {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  aside {
    flex-direction: row;
  }
}
